.wrapper
{
	width: 100%;
	
	margin: 0 auto;
}



h1
{
	font-family: 'Lobster', cursive;
	font-size: 300%;
	text-align: center;	
	margin-top: 2%;
}

.visualizer{
	height: 20%;
	width: 100%;
}

.game{
	height: 80%;
}

